.taskAdd {
  margin-top: 10px;
  input {
    height: 32px;
    width: 100%;
    padding: 7px 11px;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    border-radius: 4px;
    margin-bottom: 13px;
  }
  .btnAddForm{
    width: auto;
    margin-left: auto;
  }
}